<div class="jumbotron">
  <h1>Add dose for <%= @cocktail.name %></h1>
</div>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: @ingredients %>
  <%= f.submit %>
<% end %>
